/* Общие стили */

body {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #f8b0b0;
  padding: 20px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav li {
  margin-right: 20px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.footer {
  background-color: #f8b0b0;
  padding: 20px;
  text-align: center;
}

/* Адаптация для больших экранов (ПК) */

@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .header {
    height: 100px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav li {
    margin-right: 20px;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .footer {
    height: 50px;
  }
  .contentTop {
    display: grid;
    grid-auto-flow: column;
    gap: 2px;
  }
  .contentTop h1 {
    font-size: 35px;
    font-weight: 600;
    line-height: 50.58px;
    text-align: left;
  }
  .contentTop p {
    font-size: 25px;
    font-weight: 300;
    line-height: 36.13px;
    text-align: left;
    text-decoration: underline;
  }
  .buttonTopText {
    background: #ffffff00;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    text-transform: uppercase;
    height: 20px;
    width: 100px;
    margin-top: 45px;
    border-radius: 10px;
    border: 0px;
  }
  .buttonTopText:hover {
    border: #ffffff00;
    color: #000000;
    border: 0px;
    background: #fdfdfd00;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
  }
  .buttonTop {
    width: 281px;
    height: 50px;
    margin-top: 31px;
    border-radius: 10px;
    background: rgba(0, 0, 255, 0.75);
    color: #000000;
    border: 0px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    text-transform: uppercase;
  }
  .buttonTop:hover {
    color: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 255, 0.75), #f8b0b0);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
  }
  .contentImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .contentImg img {
    width: 1040px;
    height: 560px;
    border-radius: 50px;
    object-fit: cover;
  }
  .contentCentr h1 {
    font-size: 35px;
    font-weight: 600;
    line-height: 50.58px;
    text-align: center;
  }
  .contentCentr p {
    font-size: 28px;
    font-weight: 300;
    line-height: 40.46px;
    text-align: center;
  }
  .contentCentr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .contentCentr img {
    width: 1040px;
    height: 560px;
    border-radius: 50px;
    object-fit: cover;
  }
  .contentBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .contentBottom h1 {
    font-size: 35px;
    font-weight: 600;
    line-height: 50.58px;
    text-align: center;
  }
  .contentBottom p {
    font-size: 28px;
    font-weight: 300;
    line-height: 40.46px;
    text-align: center;
  }
  .contentBottom img {
    width: 1040px;
    height: 560px;
    border-radius: 50px;
    object-fit: cover;
  }
}

/* Адаптация для средних экранов (планшет) */

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  body {
    font-size: 16px;
  }
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .header {
    height: 80px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav li {
    margin-right: 15px;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .footer {
    height: 40px;
  }
  .contentTop {
    display: grid;
    grid-auto-flow: column;
    gap: 2px;
  }
  .contentTop h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 43.58px;
    text-align: left;
  }
  .contentTop p {
    font-size: 22px;
    font-weight: 300;
    line-height: 31.13px;
    text-align: left;
    text-decoration: underline;
  }
  .buttonTopText {
    background: #ffffff00;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    text-transform: uppercase;
    height: 20px;
    width: 100px;
    margin-top: 45px;
    border-radius: 10px;
    border: 0px;
  }
  .buttonTopText:hover {
    border: #ffffff00;
    color: #000000;
    border: 0px;
    background: #fdfdfd00;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
  }
  .buttonTop {
    width: 281px;
    height: 50px;
    margin-top: 31px;
    border-radius: 10px;
    background: rgba(0, 0, 255, 0.75);
    color: #000000;
    border: 0px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    text-transform: uppercase;
  }
  .buttonTop:hover {
    color: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 255, 0.75), #f8b0b0);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
  }
  .contentImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .contentImg img {
    width: 720px;
    height: 400px;
    border-radius: 50px;
    object-fit: cover;
  }
  .contentCentr h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 43.58px;
    text-align: center;
  }
  .contentCentr p {
    font-size: 24px;
    font-weight: 300;
    line-height: 34.46px;
    text-align: center;
  }
  .contentCentr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .contentCentr img {
    width: 720px;
    height: 400px;
    border-radius: 50px;
    object-fit: cover;
  }
  .contentBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .contentBottom h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 43.58px;
    text-align: center;
  }
  .contentBottom p {
    font-size: 24px;
    font-weight: 300;
    line-height: 34.46px;
    text-align: center;
  }
  .contentBottom img {
    width: 720px;
    height: 400px;
    border-radius: 50px;
    object-fit: cover;
  }
}

/* Адаптация для маленьких экранов (телефон) */

@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  .header {
    height: 60px;
  }
  .nav {
    display: block;
  }
  .nav li {
    margin-bottom: 10px;
  }
  .content {
    display: block;
  }
  .footer {
    height: 30px;
  }
  .contentTop {
    display: block;
  }
  .contentTop h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 36.58px;
    text-align: left;
  }
  .contentTop p {
    font-size: 20px;
    font-weight: 300;
    line-height: 28.13px;
    text-align: left;
    text-decoration: underline;
  }
  .buttonTopText {
    background: #ffffff00;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    text-transform: uppercase;
    height: 20px;
    width: 100px;
    margin-top: 45px;
    border-radius: 10px;
    border: 0px;
  }
  .buttonTopText:hover {
    border: #ffffff00;
    color: #000000;
    border: 0px;
    background: #fdfdfd00;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
  }
  .buttonTop {
    width: 281px;
    height: 50px;
    margin-top: 31px;
    border-radius: 10px;
    background: rgba(0, 0, 255, 0.75);
    color: #000000;
    border: 0px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    text-transform: uppercase;
  }
  .buttonTop:hover {
    color: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 255, 0.75), #f8b0b0);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
  }
  .contentImg {
    display: block;
    margin-top: 50px;
  }
  .contentImg img {
    width: 100%;
    height: 300px;
    border-radius: 50px;
    object-fit: cover;
  }
  .contentCentr h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 36.58px;
    text-align: center;
  }
  .contentCentr p {
    font-size: 20px;
    font-weight: 300;
    line-height: 28.13px;
    text-align: center;
  }
  .contentCentr {
    display: block;
    margin-top: 50px;
  }
  .contentCentr img {
    width: 100%;
    height: 300px;
    border-radius: 50px;
    object-fit: cover;
  }
  .contentBottom {
    display: block;
    margin-top: 50px;
  }
  .contentBottom h1 {
    font-size: 25px;
    font-weight:  600;
    line-height: 36.58px;
    text-align: center;
  }
  .contentBottom p {
    font-size: 20px;
    font-weight: 300;
    line-height: 28.13px;
    text-align: center;
  }
  .contentBottom img {
    width: 100%;
    height: 300px;
    border-radius: 50px;
    object-fit: cover;
  }
}